{% extends 'main/layout.html' %}
{% block content %}
<div class="followers-list"  style="margin-bottom: 24%;">
    <h1 style="font-size: 30px; text-align: center;">Подписчики {{ profile_user.username }}:</h1>
    <ul>
        {% for follower in followers %}
        <li>
            <img src="{{ profile_user.profile.avatar.url }}" alt="Аватар" width="100">
            <a style="text-decoration: none; color: black;" href="{% url 'users:user_profile' follower.username %}">{{ follower.username }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
