{% extends 'main/layout.html' %}
{% block content %}

<div class="followers-list"  style="margin-bottom: 25.5%;">
    <h1 style="font-size: 30px; text-align: center;">Подписчики:</h1>
    <ul>
        {% for follow in followers %}
        <li>
            <img src="{{ follow.user.profile.avatar.url }}" style="background-repeat: no-repeat;
                        background-position: 50%;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        margin-left: 25px;
                        margin-bottom: 30px;
                        margin-top: 20px;
                        object-fit: cover;"
                 alt="Аватар" width="100">
            <a style="text-decoration: none; color: black;" href="{% url 'users:user_profile' follow.user.username %}">{{ follow.user.username }}</a>
        </li>
        {% empty %}
            <p>Нет подписчиков</p>
        {% endfor %}
    </ul>
</div>

{% endblock %}


