{% extends 'main/layout.html' %}
{% block content %}

<div class="following-list" style="margin-bottom: 25%;">
    <h1 style="font-size: 30px; text-align: center;">Подписки:</h1>
    <ul>
        {% for follow in following %}
            <li>
            <img src="{{ follow.author.profile.avatar.url }}" style="background-repeat: no-repeat;
                        background-position: 50%;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        margin-left: 25px;
                        margin-bottom: 30px;
                        margin-top: 20px;
                        object-fit: cover;"
                 alt="Аватар" width="100">
            <a style="text-decoration: none; color: black;" href="{% url 'users:user_profile' follow.author.username %}">{{ follow.author.username }}</a>
        </li>
        {% empty %}
            <p>Нет подписок</p>
        {% endfor %}
    </ul>
</div>

{% endblock %}




