{% extends 'main/layout.html' %}

{% block content %}
<div class="login" style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh;">
    <h1>Авторизация</h1>
    <form method="post" style="width: 60%; max-width: 500px;">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for field in form %}
            <div style="margin-bottom: 50px;">{{ field }}</div>
            <div class="form-error">{{ field.errors }}</div>
        {% endfor %}
        <div style="text-align: center;">
            <button class="soxr" style="margin-left: -35px;" type="submit">Войти</button>
        </div>
    </form>
</div>
{% endblock %}
