{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
<div class="color" style="margin-top: -40px; width: max; height: 250px; background:{{ profile_user.profile.background_color }};">
</div>
<div class="profile">
    <h1 style="margin-top: 115px; margin-left: -800px;">{{ profile_user.username }}</h1>
    <img src="{{ profile_user.profile.avatar.url }}"
          style="background-repeat: no-repeat;
                background-position: 50%;
                border-radius: 50%;
                width: 250px;
                height: 250px;
                object-fit: cover;
                margin-left: 15%;
                margin-top: -380px;
                margin-bottom: 10px;"
         alt="Аватар" width="250">
    <div class="follow-stats">
        <p></p><a href="{% url 'users:followers_list' profile_user.username %}">
            <p style="margin-left:550px; margin-top:-190px; font-size: 22px;">подписчиков</p>
            <div style="margin-top: -100px; font-size: 25px; margin-left: 610px;">{{ profile_user.profile.total_followers }}</div>
        </a></p>
        <p><a href="{% url 'users:following_list' profile_user.username %}">
            <p style="margin-left:750px; margin-top:-30px; font-size: 22px;">подписок</p>
            <div style="margin-top: -100px; font-size: 25px; margin-left: 790px;">{{ profile_user.profile.total_following }}</div>
        </a></p>
    </div>

    <p style="font-size: 16px; margin-left: 500px; margin-top: 30px;">
        <p style="margin-left: 500px; margin-top: 30px; font-weight:bold; font-size: 16px;">Дата рождения:</p>
        <p style="font-size: 16px; margin-left: 635px; margin-top: -64px;">
            {% if profile_user.profile.birth_date %}
                {{ profile_user.profile.birth_date }}
            {% else %}
                <span style="color: grey;">не указано</span>
            {% endif %}
        </p>
    </p>
    <p style="font-size: 18px; margin-left: 500px; margin-top: -30px;">
        {% if profile_user.profile.bio %}
            {{ profile_user.profile.bio }}
        {% else %}
            <span style="color: grey;"><br></span>
        {% endif %}
    </p>

    {% if request.user != profile_user %}
    <form action="{% url 'users:follow_toggle' profile_user.username %}" method="post">
        {% csrf_token %}
        {% if request.user in profile_user.profile.followers.all %}
        <button class="soxr" style="width: 10%;" type="submit">Отписаться</button>
        {% else %}
        <button class="soxr" style="width: 10%;" type="submit">Подписаться</button>
        {% endif %}
    </form>
    {% else %}
    <button style="height: 45px; border-radius: 10px; background: #614848; width: 16%; margin-left: 950px; transform:translate(0%,-390%);"><a href="{% url 'users:profile_edit' %}"><p style="color: #FFFFFF; font-size: 18px; margin-top: -4px;">Редактировать профиль</p></a></button>
    {% endif %}

    <div class="tap-container" style="text-align:center;">
        <button class="tab-button active" style="font-size: 28px; transform:translate(-50%,-200%); background: #D9D5D2;" onclick="openTab(event, 'posts')">Публикации</button>
        <button class="tab-button" style="font-size: 28px;  transform:translate(60%,-200%); background: #D9D5D2;" onclick="openTab(event, 'liked_posts')">Нравится</button>
    </div>

    <div style="margin-top: -319px; width: max; height: 5px; background: #BCADA8;">
    </div>

    <div id="posts" class="tab-content active">
        <div class="post-grid">
            {% for post in posts %}
            <div class="post">
                <a href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}" alt="{{ post.title }}" width="100%" height="100%"></a>
                <p>{{ post.content|linebreaks }}</p>
            </div>
            {% empty %}
            <p style="margin-left: 750px;">Нет</p>
            {% endfor %}
        </div>
    </div>

    <div id="liked_posts" class="tab-content">
        <div class="post-grid">
            {% for post in liked_posts %}
            <div class="post">
                <a href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}" alt="{{ post.title }}" width="100%" height="100%"></a>
                <p>{{ post.content|linebreaks }}</p>
            </div>
            {% empty %}
                <p style="margin-left: 750px;">Нет</p>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    function openTab(event, tabName) {
        var i;
        var tabContents = document.getElementsByClassName("tab-content");
        var tabButtons = document.getElementsByClassName("tab-button");

        for (i = 0; i < tabContents.length; i++) {
            tabContents[i].classList.remove("active");
        }

        for (i = 0; i < tabButtons.length; i++) {
            tabButtons[i].classList.remove("active");
        }

        document.getElementById(tabName).classList.add("active");
        event.currentTarget.classList.add("active");
    }
</script>
{% endblock %}
