{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
<div class="profile">
    <h1 style="padding-bottom: 20px;">Редактировать профиль</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for field in form %}
            <div style="margin-bottom: 40px; width: 150%; margin-left: -33%;"><p>{{ field }}</p></div>
            <div class="form-error">{{ field.errors }}</div>
        {% endfor %}
        <p><button class="soxr pol" style="width: 30%; margin-left: 30%;" type="submit">Сохранить</button></p>
    </form>
</div>
{% endblock %}
