{% extends 'main/layout.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
    <h1 class="learn-title"> Обучение</h1>
    <h2 class="categories-title"> Макияж</h2>
    <div class="three">
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/oQkQv1ULyzs?si=jriUKEMaUXKJxDKD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Руководство Кендалл Дженнер по макияжу "Весенняя француженка" | Секреты красоты | Vogue</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/kPMGhfxNbkA?si=DXPYL5LSpXJ94CZL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Ева Миллер показывает свой повседневный макияж и косметику, которой пользуется каждый день.</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/N92EIWeab2Q?si=PIDElBM2jdhv37Zg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Как правильно наносить тональный крем</p>
        </div>
    </div>
    <div class="three">
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/OlVa4AcVBlQ?si=-0r_D4WamcIAYZ0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Визажист Ира рассказывает о простом, но эффективном моделировании лица на каждый день.</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/aFJXtqK-FOc?si=7W9XIs195arnK6-W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Хайлайтер и как им пользоваться</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/HiAIp6Rzo_Q?si=A_TLpcvg4ieKJ0h9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Чем увлажнять кожу лица?</p>
        </div>
    </div>
    <div class="three">
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/7bb1fYRidiI?si=Ey_BP-5XQlrLn7ZK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Как выбрать консилер и замазать синяки под глазами</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/FgejnmEqmUM?si=cb4VA8Xr7NgUCOQk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Базовое нанесение теней. Макияж глаз</p>
        </div>

        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/0LMyamDr-9M?si=HU4c0x9_IXLTyBhR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Как определить форму лица и подобрать макияж</p>
        </div>
    </div>
    <div class="three">
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/Ox3LQefR7Dk?si=EesbhIMAFG1tTM0N" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">МАКИЯЖ, КОТОРЫЙ ПОДХОДИТ ВСЕМ</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/uzB--5O-9Ts?si=aIK2OVhQmHkt_S7x" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Макияж кошачьи глаза и укладка</p>
        </div>
        <div class="video">
            <div class="for-video"></div>
            <p class="video-description"></p>
        </div>
    </div>
    <h2 class="categories-title">Прически</h2>
    <div class="three">
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/hrnHWwvBbbk?si=SnxOHzpoSPpBAu9l" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">ПРОСТОЙ НЕБРЕЖНЫЙ ПУЧОК ЗА 2 МИНУТЫ</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/oCSnEHp8HgE?si=ETwuWaRUSH5LLHZM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">ЛЕГКИЕ и БЫСТРЫЕ Прически на КАЖДЫЙ ДЕНЬ для Ленивых</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/yt4F6B5ZPCw?si=UBqE5CJvcRMHUtjY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">СТИЛЬНЫЕ ПРИЧЕСКИ НА КАЖДЫЙ ДЕНЬ✨ 5 ИДЕЙ</p>
        </div>
    </div>
    <div class="three">
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/taXWfBy247g?si=emfOwz5XvXWww8CV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">СЕКРЕТЫ ОБЪЕМНОЙ УКЛАДКИ / Как уложить челку?</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/LYSRTOjDsvk?si=3LySlqC103zO6vy5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">СТИЛЬНЫЕ ПРИЧЕСКИ НА ДЛИННЫЕ ВОЛОСЫ + УХОД</p>
        </div>
        <div class="video">

            <iframe width="464" height="261" src="https://www.youtube.com/embed/0dv7I8r-6ag?si=yiScl5AVmRjWSOKQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">УКЛАДКА НА УТЮЖОК | дайсоновская укладка без дайсона</p>
        </div>
    </div>
    <div class="three">
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/chWx2E0VGw8?si=T_nU59_EhBdd79Bz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">ЛЕГКИЕ ПРИЧЕСКИ НА КОРОТКИЕ ВОЛОСЫ. (длинное каре)</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/4ewkcS6Ha2Q?si=rYBYczL5pdJjDm0t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Быстрые и Лёгкие прически ДЛЯ ЛЕНИВЫХ</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/PrUuTQs4iSw?si=3eI5vDMuXfTek4e7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">КАК СДЕЛАТЬ ЛОКОНЫ УТЮЖКОМ за 10 минут | Лайфхаки и Секреты</p>
        </div>
    </div>
    <div class="three">
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/pGPpwMn4_fs?si=KBpAbeT6Wca4kQ9C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">БЫСТРЫЕ И ЛЕГКИЕ МИЛЫЕ ПРИЧЕСКИ * без нагрева*</p>
        </div>
        <div class="video">
            <div class="for-video"></div>
            <p class="video-description"></p>
        </div>
        <div class="video">
            <div class="for-video"></div>
            <p class="video-description"></p>
        </div>
    </div>
    <h2 class="categories-title">Советы</h2>
    <div class="three">
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/0435eH3Ixxo?si=Fp1BAHclZOlgH_uB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Коррекция и окрашивание бровей дома. Как красить брови краской</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/ZbFmR3Y8zgU?si=ArY4rBrxTaYzctNv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Как отрастить брови</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/dZbyXWinsIE?si=k8A1Rsw6NhCJHbOS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">7 полезных привычек в уходе за лицом для всех</p>
        </div>
    </div>
    <div class="three">
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/yYLKH2LVpB0?si=JG3tX2tFggG0ZfbF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Как найти свой стиль? 8 приемов стилиста | 12 STOREEZ</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/P3QluW41WE4?si=t5p_nu-9Jm2FcTTg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Как выглядеть стильно невысоким девушкам? Советы, лайфхаки, образы и шопинг.</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/bw5Y_RDaC-U?si=sy3g8ty2_vm8LKJl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Советы, как сделать образы лучше летом</p>
        </div>
    </div>
    <div class="three">
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/n69R135ghek?si=gZy-F4Kox8Tkl6V0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">ТОП-10 ВЕЩЕЙ В ГАРДЕРОБ ВЕСНА-ЛЕТО 2024 | тренды и находки</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/rJDzEyU-j9I?si=EkjPbmMqpLMXlqPX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">КАК НАЙТИ СВОЙ СТИЛЬ | 10 шагов к идеальному гардеробу</p>
        </div>
        <div class="video">

            <iframe width="464" height="261" src="https://www.youtube.com/embed/IQQzrd1q3qw?si=prpiza-qqEAKQJ4v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">СТИЛЬНЫЙ ОБРАЗ НА СЪЕМКУ | ГДЕ НАЙТИ ОДЕЖДУ? БЮДЖЕТНЫЕ РЕШЕНИЯ!</p>
        </div>
    </div>
    <div class="three">
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/lAblZjqwoRI?si=oLO47FuHufAkcITQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">20 ВЕЩЕЙ КОТОРЫЕ ДЕШЕВЯТ И ПОРТЯТ ВАШ ОБРАЗ !</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/oto_7Gdj4eY?si=hHZOZtv4BF7eAIIo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">Принципы Разбора Гардероба Самостятельно!</p>
        </div>
        <div class="video">
            <iframe width="464" height="261" src="https://www.youtube.com/embed/0xMFoygsiU0?si=h6R2Sdjdmj0kq3Le" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="video-description">ТРЕНДЫ ВЕСНА ЛЕТО 2024 | МОДНЫЕ СОВЕТЫ | ГОТОВЫЕ ОБРАЗЫ | СТИЛЬ И ЖЕНСТВЕННОСТЬ | ЭЛЕГАНТНЫЙ СТИЛЬ</p>
        </div>
    </div>

{% endblock %}