<div class="row">
    <h2 class="mt-3 mb-3 comments-name">Комментарии</h2>
    <div class="scroll-comment">
    {% if comments %}
        {% for comment in comments %}
            <img src="{{ comment.author.profile.avatar.url }}"
                 style="background-repeat: no-repeat;
                        background-position: 50%;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        margin-left: 25px;
                        object-fit: cover;"
                 alt="Аватар" width="100">
            <p class="comment-text">
                {% if user == comment.author %}
                    <a href="{% url 'users:profile' %}">{{ comment.author }}</a>
                {% else %}
                    <a href="{% url 'users:user_profile' username=comment.author.username %}">{{ comment.author }}</a>
                {% endif %}
                <p style="font-size:15px; margin-left: 72%; margin-top: -10.5%; color: #404040"> {{ comment.datetime }} </p>
            </p>
            <p class="coment">{{ comment.text }}</p>
                <p> {% if comment.author == user or user.is_superuser %} </p>
                    <p style="margin-top: -40px;"><a class="redactirovat" href="{% url 'main:edit_comment' pk=comment.pk %}">Редактировать</a></p>
                    <p style="margin-top: -68px; margin-left: 215px;"><a class="ydalit" href="{% url 'main:delete_comment' pk=comment.pk %}"> Удалить</a></p>
                {% endif %}
            <hr>
        {% endfor %}
    {% else %}
        <p class="noycomm">Нет комментариев</p>
    {% endif %}
    </div>

</div>
<div class="row">
    {% if user.is_authenticated %}
        <form method="post" enctype="multipart/form-data" action="{% url 'main:add_comment' pk=post.pk %}">
            {% csrf_token %}
            <img src="{{ user.profile.avatar.url }}"
                 style="background-repeat: no-repeat;
                        background-position: 50%;
                        border-radius: 50%;
                        width: 45px;
                        height: 45px;
                        margin-left: 25px;
                        margin-bottom: -230px;
                        object-fit: cover;"
                 alt="Аватар" width="100">
            {{ comment_form.text }}
            <button class="comment-button" type="submit"></button>
        </form>

    {% else %}
        <p class="comment-dob"><a class="comment-login" href="{% url 'users:login' %}">Войдите</a>, чтобы добавить комментарий.</p>
    {% endif %}
</div>
