{% extends 'main/layout.html' %}
{% load main_tags %}

{% block title %} Подборки {% endblock %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Добавление класса category-button ко всем ссылкам в списке категорий
    $("ul.category-list a").addClass("category-button");
});
</script>

<ul class="category-list">
    <li><a href="{% url 'main:all_categories' %}">Все категории</a></li>
    {% show_categories cat_selected %}
</ul>

<section class="posts">
    <div>
        <ul class="container-posts">
            {% for b in posts %}
                <li>
                    <a href="{{ b.get_absolute_url }}"><img class="img" src="{{ b.image.url }}" width="70%" height="70%"></a>
                    <p><a href="{% url 'users:user_profile' username=b.author.username %}">{{ b.author }}</a></p>
                    <p class="likes-count">{{ b.total_likes }} </p>
                    <button data-post-id="{{ b.id }}" class="like-button {% if user in b.likes.all %} liked {% endif %}">
                        </button>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>


<script>
$(document).ready(function() {
    $('.like-button').click(function() {
        var button = $(this);
        var postId = button.data('post-id');

        // Проверяем, лайкнут ли пост
        if (button.hasClass('liked')) {
            // Если лайкнут, удаляем класс "liked"
            button.removeClass('liked');
        } else {
            // Если не лайкнут, добавляем класс "liked"
            button.addClass('liked');
        }

        $.ajax({
            url: '{% url "main:like_post" %}',
            method: 'POST',
            data: {
                'post_id': postId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(data) {
                // Обновляем счетчик лайков
                button.siblings('.likes-count').text(data.total_likes + ' ');
            }
        });
    });
});
</script>

{% endblock %}
