{% extends 'main/layout.html' %}
{% block title %}Форма по добавлению публикации{% endblock %}

{% block content %}
<div class="add-publication">
    <h1 > Добавить публикацию</h1>
    <form style="margin-top: 145px;" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="font-size: 18px; margin-top: -95px; margin-left: 170px; margin-bottom: 30px;">{{ form.image.errors }}</div><br>
        {{ form.image }}<br>
        {{ form.title }}<br>
        {{ form.cat }}<br>
        <span>{{ error }}</span>
        <button class="soxr" style="width: 20%; margin-left: 39%;" type="submit"><p class="publ">Опубликовать</p></button>
    </form>
</div>
{% endblock %}
